<html lang="en">
<%- include('./link.html') %>
<body>
<!--header-->
<%- include('./head')%>

<!--main-->
<div class="common-main container articleDetail-container">
    <!--  content  -->
    <div class="row articleDetail-row">
        <div class="col-sm-8">
            <div class="articleDetail-tagList clearfix">
                <% ats.tags.forEach(function(tag){ %>
                <div class="articleDetail-label"><%= tag %></div>
               <%  }) %>
            </div>
            <div class="articleDetail-title"><%= ats.title %></div>
            <div class="articleDetail-introduce">
                <%= ats.desc %>
            </div>
            <div class="articleDetail-line"></div>
            <div class="articleDetail-text">
                <%- ats.content.replace('http:','https:') %>
            </div>
        </div>
        <div class="col-sm-4 articleDetail-doctor-wrap">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="articleDetail-doctor">
                        <div class="articleDetail-doctor-img-wrap">
                            <img class="articleDetail-doctor-img img-responsive" src="">
                        </div>
                        <div class="articleDetail-doctor-massage">
                            <div>
                                <span class="articleDetail-doctor-name"></span>
                                <span class="articleDetail-doctor-title"></span>
                                <p class="articleDetail-doctor-hospital"></p>
                            </div>
                            <div class="articleDetail-doctor-QRCode-wrap">
                                <div style="width: 88px;height: 88px;">
                                    <img class="articleDetail-doctor-QRCode img-responsive" src="">
                                </div>
                                <p>微信扫二维码</p>
                                <p>立即咨询</p>
                            </div>
                            <div>
                                <p class="articleDetail-doctor-excel-title">擅长：</p>
                                <p class="articleDetail-doctor-excel"></p>
                            </div>
                            <div class="articleDetail-doctor-more">
                                <a href="javascript:;">查看医生主页，阅读更多文章</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<%- include('./footer')%>
</body>
</html>
