<div class="swiper-container consultDoctor-recommend-doctor container">
    <div class="swiper-wrapper" id="consultDoctorSwiperWrapper">
        <% for(var i = 0, l = Math.ceil(doctors.length / 4); i < l; i++) {%>
        <div class="swiper-slide">
            <div class="row">

                <% for(var j = 0; j < 4; j++ ){ %>
                <% if (i * 4 + j  < doctors.length) { %>
                <a class="consultDoctor-recommend-doctor-item col-md-5"
                   href="./doctor/<%= doctors[i*4+j].id%>" target="_blank" >
                    <div class="row">
                        <div class="consultDoctor-recommend-doctor-head-wrap col-xs-3">
                            <img src="<%=  doctors[i*4+j].iconUrl %>" class="consultDoctor-recommend-doctor-head img-responsive center-block">
                            <div class="consultDoctor-recommend-doctor-appointment-button center-block">点我咨询</div>
                        </div>
                        <div class="consultDoctor-recommend-doctor-info col-xs-9">
                            <div class="row"><span class="consultDoctor-recommend-doctor-name"><%=  doctors[i*4+j].realName %></span><span
                                    class="consultDoctor-recommend-doctor-info-title"><%=  doctors[i*4+j].title %></span></div>
                            <div class="consultDoctor-recommend-doctor-hospital-wrap row"><span
                                    class="consultDoctor-recommend-doctor-department"><%=  doctors[i*4+j].departmentName %></span><span
                                    class="consultDoctor-recommend-doctor-hospital"><%=  doctors[i*4+j].hospitalName %></span>
                            </div>
                            <div class="consultDoctor-recommend-doctor-expert-wrap row"><span>擅长：</span><span
                                    class="consultDoctor-recommend-doctor-expert"><%=  doctors[i*4+j].expertDisease %></span>
                            </div>
                        </div>
                    </div>
                </a>
                <% }%>

                <% } %>
            </div>

        </div>
        <% }%>
    </div>
    <div class="swiper-pagination consultDoctor-swiper-pagination"></div>
</div>
