<div class="bg-swiper" style="position: relative">
    <img src="<%= banners[0].resourceUrl %>" alt="" class="placehold">
    <div style="position: absolute;height: 100%; width: 100%; top: 0;left: 0">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% banners.forEach(function(b){ %>
                <div class="swiper-slide">
                    <img class="swiper-img full" src="<%= b.resourceUrl %>" alt="">
                </div>
                <% }) %>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

</div>

<style>
    .full{
        width: 100%;
        height: auto;
    }
    .placehold{
        width: 100%;
        opacity: 0;
        height: auto;
    }
    .placehold{
        max-height: 300px;
    }
</style>
