<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App下载</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="三甲医院手术预约_专家_主任医生手术_床位预约_布谷鸟_布骨医生网">
    <meta name="Description" content="做骨科手术就找布骨医生，权威专家主刀，为您提供疾病咨询、病床预约，手术预约，术后康复等健康服务，只要是骨骼问题，在这里轻松解决！">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="icon" href="../img/bone_favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../img/bone_favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../assets/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/common/common.css">
    <link rel="stylesheet" href="./../css/download.css">
</head>

<body>
<!--header-->
<header class="container-fluid common-wrap header-wrap">
    <div class="common-container header row">
        <div class="col-sm-2 col-md-5 row header-left">
            <a href="javascript:;" class="header-a-logo col-xs-8 col-sm-5" data-url="index.html">
                <h1 class="header-h1-logo">
                    <img class="img-responsive logo" src="./../img/header/bone.png" alt="布骨医生">
                </h1>
            </a>
            <div class="col-xs-4 visible-xs-block">
                <div class="header-menu center-block"></div>
            </div>
        </div>
        <nav class="header-nav col-sm-10 col-md-7">
            <div class="col-sm-2 col-sm-offset-2 nav-item" data-url="index.html">
                <span class="nav-div-text">首页</span>
            </div>
            <div class="col-sm-2 nav-item" data-url="view/consultDoctor.html">
                <span class="nav-div-text">咨询医生</span>
            </div>
            <div class="col-sm-2 nav-item" data-url="view/operationOrder.html">
                <span class="nav-div-text">预约手术</span>
            </div>
            <div class="col-sm-2 nav-item nav-item-active" data-url="view/download.html">
                <span class="nav-div-text">App下载</span>
            </div>
            <div class="col-sm-2 nav-item" data-url="view/aboutUs.html">
                <span class="nav-div-text">关于我们</span>
            </div>
        </nav>
    </div>

</header>

<!--main-->
<div class="common-main container download-container">
    <div class="row">
        <img class="img-responsive" src="./../img/download/app_loading_pic.png">
        <!--<div class="download-show col-sm-6">
            <div class="download-show-img">

            </div>
        </div>
        <div class="download-right col-sm-6">
            <div class="download-right-title row text-center">互联网时代的患者管理平台</div>
            <div class="download-right-intro row">布骨医生是一个互联网医疗平台，专注于骨健康领域，平台汇聚全国重点三甲医院副主任医师以上专家资源。</div>
            <div class="download-right-qrCode-row row">
                <div class="download-right-qrCode-wrap col-xs-6">
                    <div class="download-right-qrCode row">
                        <img class="download-right-qrCode-img img-responsive center-block" src="./../img/download/download.png" alt="布骨医生医生端下载">
                    </div>
                    <a class="download-right-qrCode-desc row text-center" href="http://a.app.qq.com/o/simple.jsp?pkgname=cn.com.hanyu365.bone">医生端</a>
                </div>

                <div class="download-right-qrCode-wrap col-xs-6">
                    <div class="download-right-qrCode row">
                        <img class="download-right-qrCode-img img-responsive center-block" src="./../img/download/service.png" alt="布骨医生医生端下载">
                    </div>
                    <a class="download-right-qrCode-desc row text-center" href="http://weixin.qq.com/r/_Trk-D3EemAFrXmf92-r">患者端</a>
                </div>
            </div>
        </div>-->
    </div>
</div>

<!--footer-->
<footer class="container-fluid common-wrap footer-wrap">
    <div class="common-container container">
        <div class="row footer-info">
            <div class="col-sm-7 row footer-attentionUs">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-6 footer-attention-item">
                                <div class="footer-attention-item-title"></div>
                                <img class="img-responsive footer-attention-item-pic" src="./../img/footer/boneSubscription.png"
                                     alt="布骨医生订阅号二维码" title="布骨医生订阅号二维码">
                                <div class="footer-attention-item-desc">布骨医生订阅号</div>
                                <div class="footer-attention-item-desc">(微信 医生专用)</div>
                            </div>

                            <div class="col-xs-6 footer-attention-item">
                                <div class="footer-attention-item-title"></div>
                                <img class="img-responsive footer-attention-item-pic" src="./../img/footer/boneService.png" alt="布骨健康服务号"
                                     title="布骨健康服务号">
                                <div class="footer-attention-item-desc">布骨健康服务号</div>
                                <div class="footer-attention-item-desc">(微信)</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-6 footer-attention-item">
                                <div class="footer-attention-item-title"></div>
                                <img class="img-responsive footer-attention-item-pic" src="./../img/footer/boneSina.png" alt="布骨医生官方微博"
                                     title="布骨医生官方微博">
                                <div class="footer-attention-item-desc">布骨医生官微</div>
                                <div class="footer-attention-item-desc">(新浪微博)</div>
                            </div>

                            <div class="col-xs-6 footer-attention-item">
                                <div class="footer-attention-item-title"></div>
                                <img class="img-responsive footer-attention-item-pic" src="./../img/footer/timg.png" alt="布骨健康-喜马拉雅"
                                     title="布骨健康-喜马拉雅">
                                <div class="footer-attention-item-desc">布骨健康</div>
                                <div class="footer-attention-item-desc">(喜马拉雅)</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-4 col-sm-offset-1 footer-contactUs">
                <div class="footer-contactUs-title">联系我们</div>
                <div class="footer-contactUs-companyName">上海灵蛇信息科技有限公司</div>
                <div class="footer-contactUs-contactInfo">
                    <div class="footer-contactUs-contactInfo-icon icon-recruitment"></div>
                    招聘：vickie@drbugu.com
                </div>
                <div class="footer-contactUs-contactInfo">
                    <div class="footer-contactUs-contactInfo-icon icon-cooperation"></div>
                    合作：bugu@drbugu.com
                </div>
                <div class="footer-contactUs-contactInfo">
                    <div class="footer-contactUs-contactInfo-icon icon-address"></div>
                    地址：上海市新龙路1333弄万科七宝国际69号
                </div>
                <div class="footer-contactUs-contactInfo">
                    <div class="footer-contactUs-contactInfo-icon icon-phone"></div>
                    电话：<a href="tel:021-33555120">021-33555120</a><a class="margin-left-10" href="tel:400-6882-120">400 6882 120</a>
                </div>
            </div>
        </div>

        <div class="row footer-copyright">
            copyright © 2016 bugu Doctor 沪ICP备 16027624号 沪公网安备 31011202002283号
        </div>
    </div>
</footer>

<script src="../assets/public/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/config/env.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/public/js/common.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
