<footer >
    <div class="footer-qr">

        <div class="container">
            <div class="other-company row">
                <div class="col-xs-10 col-md-4 text-left md-mt-40">
                    <img src="/assets/images/boneService.png" class="left">
                    <div class="left footer-card padding-lr-10">
                        <h3 class="font-size-base padd-bottom-4">如果您是用户</h3>
                        <p>微信扫描二维码，立即向全国近2000家医院的数万名专业医生进行咨询。 您也可以在医院就诊后向您的医生索要 二维码添加。</p>
                    </div>
                </div>

                <div class="col-xs-10 col-md-4 text-left md-mt-40">
                    <img src="/assets/images/timg.png" class="left">
                    <div class="left footer-card padding-lr-10">
                        <h3 class="padd-bottom-4"> 如果您是用户</h3>
                        <p>您也可以下载“喜马拉雅”app，在线收听我们的语音类节目“布骨健康”，30多种常见疾病，专业科普文章每天发送</p>
                    </div>
                </div>

                <div class="col-xs-10 col-md-4 text-left md-mt-40">
                    <img src="/assets/images/boneService.png" class="left">
                    <div class="left footer-card padding-lr-10">
                        <h3 class="font-size-base padd-bottom-4">如果您是医生</h3>
                        <p>微信扫描二维码，立即下载布骨医生APP，随时随地管理患者，为患者提供全程医疗服务，打造个人IP。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-friend">
        <div class="container">
            <div class="footer-link-title">
                友情链接:
            </div>
            <div class="footer-link-content">
                <span>春雨国际</span>  <span class="line">|</span>  <span>春雨港湾</span>  <span class="line">|</span>  <span>山东健康优选</span>  <span class="line">|</span>  <span>有来医生</span>  <span class="line">|</span>  <span>大众养生网</span>  <span class="line">|</span>  <span>春雨医生</span>  <span class="line">|</span>  <span>肿瘤网药智数据</span>  <span class="line">|</span>  <span>健康一线</span>  <span class="line">|</span>  <span>爱爱医医学网</span>  <span class="line">|</span>  <span>爱问医疗</span>  <span class="line">|</span>  <span>健康525</span>  <span class="line">|</span>  <span>心理网</span>  <span class="line">|</span>  <span>网上药店</span>  <span class="line">|</span>  <span>昆山挂号网</span>  <span class="line">|</span>  <span>主妇网</span>  <span class="line">|</span>
                <span>减肥资讯</span>  <span class="line">|</span>  <span>医药资讯</span>  <span class="line">|</span>  <span>母婴知识</span>  <span class="line">|</span>  <span>妇科疾病</span>  <span class="line">|</span>  <span>网上药店</span>  <span class="line">|</span>  <span>别有病网</span>  <span class="line">|</span>  <span>老中医养生网</span>  <span class="line">|</span>  <span>中国卫生人才网</span>  <span class="line">|</span>  <span>女人志论坛</span>  <span class="line">|</span>  <span>医疗专业人才网</span>  <span class="line">|</span>  <span>隆元康网上药店</span>  <span class="line">|</span>  <span>网上药店</span>  <span class="line">|</span>  <span>问诊吧</span>  <span class="line">|</span>  <span>医药招商</span>  <span class="line">|</span>
                <span>药品价格</span>  <span class="line">|</span>  <span>315 网 </span>  <span class="line">|</span>  <span>妙手健康网</span>  <span class="line">|</span>  <span>养老院</span>  <span class="line">|</span>  <span>整形问答</span>  <span class="line">|</span>  <span>医药招商网</span>  <span class="line">|</span>  <span>东方虹</span>  <span class="line">|</span>  <span>邻医网</span>  <span class="line">|</span>  <span>更美整形</span>  <span class="line">|</span>  <span>网上挂号</span>  <span class="line">|</span>  <span>恒牛网上药店</span>
            </div>
        </div>
    </div>

    <div class="footer-description">
        <div class="container">
            <div>
                <span>布⻣骨康复医疗中⼼</span>
                <span>加⼊入我们</span>
            </div>
            <div>
                <span>上海䈻蛇信息科技有限公司</span>
                <span>www.drbugu.com</span>
                <span>Tel: 400-6882-120    021-33555120</span>
                <span>E-mail：bugu@drbugu.com</span>
            </div>
            <div>copyright © 2016 bugu Doctor 沪 ICP 备 16027624 号 沪公网安备 31011202002283 号</div>
        </div>
    </div>

</footer>
<style>
    footer{
        font-size: 14px;
        color: #B8B8B8;
        background-color: #F8F8F8;
    }

    .footer-qr{
        padding: 30px 0;
    }

    .footer-friend{
        padding: 30px 0;
        background-color: #222;
    }
    .footer-link-title{
        padding-bottom: 10px;
    }
    .footer-link-content span{
        display: inline-block;
        padding: 4px 0;
    }

    .footer-link-content .line{
        padding-left: 5px;
        padding-right: 5px;
    }

    .footer-description{
        padding: 30px 0;
        background-color: #1D1D1D;
        color: #B8B8B8 ;
    }

    .footer-description span{
        display: inline-block;
        padding: 5px 20px 5px 0;
    }

</style>
