<footer >
    <div class="footer-qr">
        <div class="container">
            <div class="other-company row">
                <div class="col-xs-10 col-md-4 text-left md-mt-40">
                    <img src="/assets/images/boneService.png" class="left">
                    <div class="left footer-card padding-lr-10">
                        <h3 class="font-size-base padd-bottom-4">如果您是用户</h3>
                        <p>微信扫描二维码，立即向全国近2000家医院的数万名专业医生进行咨询。 您也可以在医院就诊后向您的医生索要 二维码添加。</p>
                    </div>
                </div>

                <div class="col-xs-10 col-md-4 text-left md-mt-40">
                    <img src="/assets/images/timg.png" class="left">
                    <div class="left footer-card padding-lr-10">
                        <h3 class="padd-bottom-4"> 如果您是用户</h3>
                        <p>您也可以下载“喜马拉雅”app，在线收听我们的语音类节目“布骨健康”，30多种常见疾病，专业科普文章每天发送</p>
                    </div>
                </div>

                <div class="col-xs-10 col-md-4 text-left md-mt-40">
                    <img src="/assets/images/boneService.png" class="left">
                    <div class="left footer-card padding-lr-10">
                        <h3 class="font-size-base padd-bottom-4">如果您是医生</h3>
                        <p>微信扫描二维码，立即下载布骨医生APP，随时随地管理患者，为患者提供全程医疗服务，打造个人IP。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-friend">
        <div class="container">
            <div class="footer-link-title">
                友情链接:
            </div>
            <div class="footer-link-content">
                <% common.links.forEach(function(h,index){%>
                   <a href="<%= h.value%>" target="_blank"><%= h.text %></a> 
                   <% if (index + 1 < common.links.length) { %>
                     <span class="line">|</span>
                   <% } %>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="footer-description">
        <div class="container">
            <div>
                <!-- <a><span>布⻣骨康复医疗中⼼</span></a> -->
                <a href="/join-us"><span>加⼊我们</span></a>
            </div>
            <div>
                <span>上海灵蛇信息科技有限公司</span>
                <span>www.drbugu.com</span>
                <span class="text-gray">Tel: 400-6882-120    021-33555120</span>
                <span class="text-gray">E-mail：bugu@drbugu.com</span>
            </div>
            <div>copyright © 2016 bugu Doctor 沪 ICP 备 16027624 号 沪公网安备 31011202002283 号</div>
        </div>
    </div>

</footer>
<style>
    footer{
        font-size: 14px;
        color: #B8B8B8;
        background-color: #F8F8F8;
    }

    .text-gray{
        color: #999;
    }
    .footer-qr{
        padding: 30px 0;
    }

    .footer-friend{
        padding: 30px 0;
        background-color: #222;
    }
    .footer-link-title{
        padding-bottom: 10px;
    }
    .footer-link-content a{
        font-size: 14px;
        color: #B8B8B8;
        display: inline-block;
        padding: 4px 0;
    }

    .footer-link-content .line{
        padding-left: 5px;
        padding-right: 5px;
    }

    .footer-description{
        padding: 30px 0;
        background-color: #1D1D1D;
        color: #B8B8B8 ;
    }

    .footer-description span{
        display: inline-block;
        padding: 5px 20px 5px 0;
    }

    .footer-description a{
        color: white;
    }
</style>
