<header class="container-fluid common-wrap header-wrap">
    <div class="common-container header row">
        <div class="col-sm-4 col-md-5 row header-left">
            <a href="javascript:;" class="header-a-logo col-xs-8 col-sm-5" data-url="index.html">
                <h1 class="header-h1-logo">
                    <img class="img-responsive logo" src="/assets/images/bone.png" alt="布骨医生">
                </h1>
            </a>
            <div class="col-xs-4 visible-xs-block">
                <div class="header-menu center-block"></div>
            </div>
        </div>

        <nav class="header-nav col-sm-8 col-md-7">
            <div class="col-sm-7-1 nav-item" >
                <span class="nav-div-text">首页</span>
            </div>
            <a href="./doctor" class="col-sm-7-1 nav-item text-black" >
                <span class="nav-div-text">咨询医生</span>
            </a>
            <a class="col-sm-7-1 nav-item text-black">
                <span class="nav-div-text">预约手术</span>
            </a>
            <div class="col-sm-7-1 nav-item text-black">
                <span class="nav-div-text">经典问答</span>
            </div>
            <div class="col-sm-7-1 nav-item text-black" >
                <span class="nav-div-text ">布骨健康</span>
            </div>
            <div class="col-sm-7-1 nav-item text-black" >
                <span class="nav-div-text">疾病库</span>
            </div>
            <div class="col-sm-7-1 nav-item text-black">
                <span class="nav-div-text ">健康商城</span>
            </div>
        </nav>
    </div>

</header>
