<html lang="en">

<%- include('./link.html') %>
<body>
<!--header-->
<%- include("./head.html") %>

<!--main-->
<div class="common-main container">
    <!--  banner  -->
    <div class="row index-banner-wrap">
        <div class="col-sm-7 index-banner-left">
            <div class="swiper-container index-banner-swiper">
                <div class="swiper-wrapper" id="indexSwiperWrapper">
                    <% banners.forEach(function(banner){ %>
                    <div class="swiper-slide">
                        <img src="<%= banner.resourceUrl %>" alt="">
                    </div>
                    <% }); %>
                </div>
                <div class="swiper-pagination index-swiper-pagination"></div>
            </div>
        </div>
        <div class="col-sm-5 index-banner-right-wrap">
            <div class="col-sm-offset-1 index-banner-right">
                <div class="clearfix index-banner-right-item" data-url="view/consultDoctor.html">
                    <div class="col-sm-4">
                        <img class="img-responsive index-banner-right-icon" src="/assets/images/consult_doctor.png"
                             alt="咨询医生">
                    </div>
                    <div class="col-sm-8 index-banner-right-text">
                        <div>在线咨询医生</div>
                        <div class="index-banner-right-text-small">向平台专业医生咨询</div>
                    </div>
                </div>
                <div class="clearfix index-banner-right-item margin-top-20" data-url="view/operationOrder.html">
                    <div class="col-sm-4">
                        <img class="img-responsive index-banner-right-icon" src="/assets/images/surgery_%20appointment.png"
                             alt="预约手术">
                    </div>
                    <div class="col-sm-8 index-banner-right-text">
                        <div>快速预约手术</div>
                        <div class="index-banner-right-text-small">帮你快速预约专家</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--问医生-->
    <div class="col-sm-7 margin-top-40">
        <div class="row">
            <div class="col-sm-12 col-md-6" >
                <div class="row">
                    <img src="/assets/images/question-head.png"  class="left image-head" alt="">
                    <div class="left ques-des">
                        <span class="question-btn">免费问医生</span>
                        <p class="ques-des-p">免费向全国近2000家医院的几万名医生咨询</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 md-mt-40">
                <div class="row">
                    <img src="/assets/images/question-head.png"  class="left image-head" alt="">
                    <div class="left ques-des">
                        <span class="question-btn">快速预约手术</span>
                        <p class="ques-des-p">全国近1000家三甲医院副主任医师以上名医主</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--more-->
    <div class="col-sm-7 margin-top-40">
        <div class="row tip">
            <span class="tip-btn left"></span>
            <div class="left padding-lr-10">
                <h2>咨询医生</h2>
                <p>汇聚全国权威医生,只要是骨健康问题，在这儿轻松解决!</p>
            </div>
            <span class="more">更多>></span>
        </div>
    </div>

    <!--搜索卡片-->
    <div class="col-sm-7 search-card">
        <div class="consultDoctor-search center-block row">
            <label class="consultDoctor-search-input-wrap" style="height: 40px">
                <input id="consultDoctorSearch" class="consultDoctor-search-input" type="text" placeholder="搜索医院、医生、科室">
            </label>
        </div>
        <div class="consultDoctor-search-button-wrap" style="margin: 0 15%;">
            <div class="consultDoctor-search-button" style="height: 40px; margin-top: 25px">搜索</div>
        </div>
    </div>
    <div class="row">
        <div class="margin-top-40 col-sm-7">
            <div class="row">
                <% docs.forEach(function(doc){) %>
                <div class="consultDoctor-recommend-doctor-item col-lg-6 pad-15">
                    <div class="row pad-15">
                        <div class="consultDoctor-recommend-doctor-head-wrap col-xs-3">
                            <img class="consultDoctor-recommend-doctor-head img-responsive center-block"
                                 src="<%= docs.doc %>">
                            <div class="consultDoctor-recommend-doctor-appointment-button center-block">预约手术</div>
                        </div>
                        <div class="consultDoctor-recommend-doctor-info col-xs-9">
                            <div class="row">
                                <span class="consultDoctor-recommend-doctor-name"><%= doc.realName %></span>
                                <span class="consultDoctor-recommend-doctor-info-title"><%= doc.title %></span>
                            </div>
                            <div class="consultDoctor-recommend-doctor-hospital-wrap row">
                                <span class="consultDoctor-recommend-doctor-department"><%= doc.departmentName %></span>
                                <span class="consultDoctor-recommend-doctor-hospital"><%= doc.hospitalName %></span>
                            </div>
                            <div class="consultDoctor-recommend-doctor-expert-wrap row">
                                <span>擅长：</span>
                                <span class="consultDoctor-recommend-doctor-expert">
                                  <%= doc.expertDisease %>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>

        </div>
    </div>

    <!--  content  -->
    <div class="index-content row">
        <div class="index-article-list-wrap col-sm-7">
            <div class="index-content-title">
                布骨健康
            </div>
            <div class="index-article-list container-fuild">

                <!--<div class="index-article row">
                    <div class="index-article-pic-wrap col-xs-4">
                        <img class="index-article-pic img-responsive" src="./img/index/test-article-left.png">
                        <div class="index-article-tag">
                            骨质疏松
                        </div>
                    </div>
                    <div class="index-article-text col-xs-8">
                        <div class="index-article-title">
                            如果你无法简洁的表达你的想我大娃大王法，那只说明你还不够了解它。
                        </div>
                        <div class="index-article-desc">
                            用户体验设计首先应该是理性的，其次才是感性的。只要你的反感能够解决用户的实际问题，又能带给他好的感受，用户就很容易感动满足。用户体验设计首
                        </div>
                        <div class="index-article-info">
                            <span>来源：布骨医生</span>
                            <div class="index-article-readCount">
                                <span>阅读：</span>
                                <span>33</span>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
            <div class="index-article-loadMore row text-center">
                <div class="index-article-loadMore-button btn btn-default">
                    浏览更多
                </div>
            </div>
        </div>
        <div class="index-recommend-wrap col-sm-5">
            <div class="index-recommend col-sm-offset-1">
                <div class="index-recommend-doctor-list-wrap">
                    <div class="index-content-title index-recommend-title">
                        推荐医生
                    </div>
                    <div class="index-recommend-doctor-list container-fuild">
                        <!--<div class="index-recommend-doctor row">
                            <div class="index-recommend-doctor-head-wrap col-xs-2">
                                <img class="index-recommend-doctor-head img-responsive" src="./img/index/test-doctor-head.jpg">
                            </div>
                            <div class="index-recommend-doctor-info col-xs-10">
                                <p class="index-recommend-doctor-title">
                                    <span class="index-recommend-doctor-name">张忠景</span>
                                    <span class="margin-left-10">主任医师</span>
                                </p>
                                <p class="index-recommend-doctor-form">
                                    <span>骨科</span>
                                    <span class="margin-left-10">交通大学附属医院上海第六人民医院fdsafdsfdsafdsfdsfas</span>
                                </p>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="index-recommend-hospital-list-wrap">
                    <div class="index-content-title index-recommend-title">
                        合作医院
                    </div>
                    <div class="index-recommend-hospital-list container-fuild">
                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_1.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    中国人民解放军总医院
                                </p>
                                <!--<p class="index-recommend-hospital-rank">
                                    <span>全国排名：</span>
                                    <span>3</span>
                                </p>-->
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_2.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    北京积水潭医院
                                </p>
                            </div>
                        </div>
                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_3.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    北京协和医院
                                </p>
                            </div>
                        </div>
                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_4.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    上海市第六人民医院
                                </p>
                            </div>
                        </div>
                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_5.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    第四军医大学西京医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_6.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    四川大学华西医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_7.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    第二军医大学长征医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_8.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    北京大学人民医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_9.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    南京鼓楼医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_10.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    西安红会医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_11.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    中南大学湘雅医院
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<%- include("./footer.html") %>
</body>
</html>
