<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线咨询医生，快速预约手术，骨健康问题就找布骨医生</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="三甲医院手术预约_专家_主任医生手术_床位预约_布谷鸟_布骨医生网">
    <meta name="Description" content="做骨科手术就找布骨医生，权威专家主刀，为您提供疾病咨询、病床预约，手术预约，术后康复等健康服务，只要是骨骼问题，在这里轻松解决！">
    <meta http-equiv="cache-control" content="no-cache">
    <!--<link rel="icon" href="/assets/images/bone_favicon.ico" mce_href="/favicon.ico" type="image/x-icon">-->
    <!--<link rel="shortcut icon" href="/assets/images/bone_favicon.ico" mce_href="/favicon.ico" type="image/x-icon">-->
    <!--<link rel="stylesheet" type="text/css" href="/assets/public/css/bootstrap.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/assets/public/css/swiper-3.4.1.min.css">-->
    <!--<link rel="stylesheet" href="/assets/public/css/common.css">-->
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <%- helpers.cssIncludeTag('main') %>
</head>

<body>
<!--header-->
<header class="container-fluid common-wrap header-wrap">
    <div class="common-container header row">
        <div class="col-sm-4 col-md-5 row header-left">
            <a href="javascript:;" class="header-a-logo col-xs-8 col-sm-5" data-url="index.html">
                <h1 class="header-h1-logo">
                    <img class="img-responsive logo" src="/assets/images/bone.png" alt="布骨医生">
                </h1>
            </a>
            <div class="col-xs-4 visible-xs-block">
                <div class="header-menu center-block"></div>
            </div>
        </div>
        <nav class="header-nav col-sm-8 col-md-7">
            <div class="col-sm-7-1 nav-item nav-item-active" data-url="index.html">
                <span class="nav-div-text">首页</span>
            </div>
            <div class="col-sm-7-1 nav-item" data-url="view/consultDoctor.html">
                <span class="nav-div-text">咨询医生</span>
            </div>
            <div class="col-sm-7-1 nav-item" data-url="view/operationOrder.html">
                <span class="nav-div-text">预约手术</span>
            </div>
            <div class="col-sm-7-1 nav-item" data-url="view/download.html">
                <span class="nav-div-text">经典问答</span>
            </div>
            <div class="col-sm-7-1 nav-item" data-url="view/aboutUs.html">
                <span class="nav-div-text">布骨健康</span>
            </div>
            <div class="col-sm-7-1 nav-item" data-url="view/aboutUs.html">
                <span class="nav-div-text">疾病库</span>
            </div>
            <div class="col-sm-7-1 nav-item" data-url="view/aboutUs.html">
                <span class="nav-div-text">健康商城</span>
            </div>
        </nav>
    </div>

</header>

<!--main-->
<div class="common-main container">
    <!--  banner  -->
    <div class="row index-banner-wrap">
        <div class="col-sm-7 index-banner-left">
            <div class="swiper-container index-banner-swiper">
                <div class="swiper-wrapper" id="indexSwiperWrapper">
                    <!-- <div class="swiper-slide">
                        <img src="" alt="">
                    </div> -->
                </div>
                <div class="swiper-pagination index-swiper-pagination"></div>
            </div>
        </div>
        <div class="col-sm-5 index-banner-right-wrap">
            <div class="col-sm-offset-1 index-banner-right">
                <div class="clearfix index-banner-right-item" data-url="view/consultDoctor.html">
                    <div class="col-sm-4">
                        <img class="img-responsive index-banner-right-icon" src="/assets/images/consult_doctor.png"
                             alt="咨询医生">
                    </div>
                    <div class="col-sm-8 index-banner-right-text">
                        <div>在线咨询医生</div>
                        <div class="index-banner-right-text-small">向平台专业医生咨询</div>
                    </div>
                </div>
                <div class="clearfix index-banner-right-item margin-top-20" data-url="view/operationOrder.html">
                    <div class="col-sm-4">
                        <img class="img-responsive index-banner-right-icon" src="/assets/images/surgery_%20appointment.png"
                             alt="预约手术">
                    </div>
                    <div class="col-sm-8 index-banner-right-text">
                        <div>快速预约手术</div>
                        <div class="index-banner-right-text-small">帮你快速预约专家</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  content  -->
    <div class="index-content row">
        <div class="index-article-list-wrap col-sm-7">
            <div class="index-content-title">
                布骨健康
            </div>
            <div class="index-article-list container-fuild">

                <!--<div class="index-article row">
                    <div class="index-article-pic-wrap col-xs-4">
                        <img class="index-article-pic img-responsive" src="./img/index/test-article-left.png">
                        <div class="index-article-tag">
                            骨质疏松
                        </div>
                    </div>
                    <div class="index-article-text col-xs-8">
                        <div class="index-article-title">
                            如果你无法简洁的表达你的想我大娃大王法，那只说明你还不够了解它。
                        </div>
                        <div class="index-article-desc">
                            用户体验设计首先应该是理性的，其次才是感性的。只要你的反感能够解决用户的实际问题，又能带给他好的感受，用户就很容易感动满足。用户体验设计首
                        </div>
                        <div class="index-article-info">
                            <span>来源：布骨医生</span>
                            <div class="index-article-readCount">
                                <span>阅读：</span>
                                <span>33</span>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
            <div class="index-article-loadMore row text-center">
                <div class="index-article-loadMore-button btn btn-default">
                    浏览更多
                </div>
            </div>
        </div>
        <div class="index-recommend-wrap col-sm-5">
            <div class="index-recommend col-sm-offset-1">
                <div class="index-recommend-doctor-list-wrap">
                    <div class="index-content-title index-recommend-title">
                        推荐医生
                    </div>
                    <div class="index-recommend-doctor-list container-fuild">
                        <!--<div class="index-recommend-doctor row">
                            <div class="index-recommend-doctor-head-wrap col-xs-2">
                                <img class="index-recommend-doctor-head img-responsive" src="./img/index/test-doctor-head.jpg">
                            </div>
                            <div class="index-recommend-doctor-info col-xs-10">
                                <p class="index-recommend-doctor-title">
                                    <span class="index-recommend-doctor-name">张忠景</span>
                                    <span class="margin-left-10">主任医师</span>
                                </p>
                                <p class="index-recommend-doctor-form">
                                    <span>骨科</span>
                                    <span class="margin-left-10">交通大学附属医院上海第六人民医院fdsafdsfdsafdsfdsfas</span>
                                </p>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="index-recommend-hospital-list-wrap">
                    <div class="index-content-title index-recommend-title">
                        合作医院
                    </div>
                    <div class="index-recommend-hospital-list container-fuild">
                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_1.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    中国人民解放军总医院
                                </p>
                                <!--<p class="index-recommend-hospital-rank">
                                    <span>全国排名：</span>
                                    <span>3</span>
                                </p>-->
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_2.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    北京积水潭医院
                                </p>
                            </div>
                        </div>
                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_3.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    北京协和医院
                                </p>
                            </div>
                        </div>
                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_4.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    上海市第六人民医院
                                </p>
                            </div>
                        </div>
                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_5.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    第四军医大学西京医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_6.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    四川大学华西医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_7.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    第二军医大学长征医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_8.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    北京大学人民医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_9.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    南京鼓楼医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_10.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    西安红会医院
                                </p>
                            </div>
                        </div>

                        <div class="index-recommend-hospital row">
                            <div class="index-recommend-hospital-head-wrap col-xs-2">
                                <img class="index-recommend-hospital-head img-responsive"
                                     src="/assets/images/hospital_11.png">
                            </div>
                            <div class="index-recommend-hospital-info col-xs-10">
                                <p class="index-recommend-hospital-name">
                                    中南大学湘雅医院
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer class="container-fluid common-wrap footer-wrap text-white text-center">
    <div class="common-container container">
        <div class="margin-top-40 font-size-base">
            <span>布骨康复医疗中</span>
            <span class="padding-lr-10">加入我们</span>
        </div>
        <div class="company">

            <div class="other-company margin-top-40 row">
                <div class="col-xs-10 col-md-4 text-left md-mt-40">
                    <img src="/assets/images/boneService.png" class="left">
                    <div class="left footer-card padding-lr-10">
                        <h3 class="font-size-base padd-bottom-4">如果您是用户</h3>
                        <p>微信扫描二维码，立即向全国近2000家医院的数万名专业医生进行咨询。 您也可以在医院就诊后向您的医生索要 二维码添加。</p>
                    </div>
                </div>

                <div class="col-xs-10 col-md-4 text-left md-mt-40">
                    <img src="/assets/images/timg.png" class="left">
                    <div class="left footer-card padding-lr-10">
                        <h3 class="padd-bottom-4" style="height: 19px"> </h3>
                        <p>您也可以下载“喜马拉雅”app，在线收听我们的语音类节目“布骨健康”，30多种常见疾病，专业科普文章每天发送</p>
                    </div>
                </div>

                <div class="col-xs-10 col-md-4 text-left md-mt-40">
                    <img src="/assets/images/boneService.png" class="left">
                    <div class="left footer-card padding-lr-10">
                        <h3 class="font-size-base padd-bottom-4">如果您是医生</h3>
                        <p>微信扫描二维码，立即下载布骨医生APP，随时随地管理患者，为患者提供全程医疗服务，打造个人IP。</p>
                    </div>
                </div>

            </div>


            <div class="margin-top-40">
                <div class="padding-2">上海灵蛇信息科技有限公司</div>
                <div class="padding-2">
                    <span>www.drbugu.com</span>
                    <span class="padding-lr-10">Tel: 400 6882 120</span>
                    <span>E-mail:</span>
                </div>
                <div class="padding-2">
                    bugu@drbugu.com
                </div>
            </div>
        </div>
        <!--<div class="row footer-info">-->
            <!--<div class="col-sm-7 row footer-attentionUs">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-6">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-6 footer-attention-item">-->
                                <!--<div class="footer-attention-item-title"></div>-->
                                <!--<img class="img-responsive footer-attention-item-pic" src="img/footer/boneSubscription.png"-->
                                     <!--alt="布骨医生订阅号二维码" title="布骨医生订阅号二维码">-->
                                <!--<div class="footer-attention-item-desc">布骨医生订阅号</div>-->
                                <!--<div class="footer-attention-item-desc">(微信 医生专用)</div>-->
                            <!--</div>-->

                            <!--<div class="col-xs-6 footer-attention-item">-->
                                <!--<div class="footer-attention-item-title"></div>-->
                                <!--<img class="img-responsive footer-attention-item-pic" src="img/footer/boneService.png" alt="布骨健康服务号"-->
                                     <!--title="布骨健康服务号">-->
                                <!--<div class="footer-attention-item-desc">布骨健康服务号</div>-->
                                <!--<div class="footer-attention-item-desc">(微信)</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-sm-6">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-6 footer-attention-item">-->
                                <!--<div class="footer-attention-item-title"></div>-->
                                <!--<img class="img-responsive footer-attention-item-pic" src="img/footer/boneSina.png" alt="布骨医生官方微博"-->
                                     <!--title="布骨医生官方微博">-->
                                <!--<div class="footer-attention-item-desc">布骨医生官微</div>-->
                                <!--<div class="footer-attention-item-desc">(新浪微博)</div>-->
                            <!--</div>-->

                            <!--<div class="col-xs-6 footer-attention-item">-->
                                <!--<div class="footer-attention-item-title"></div>-->
                                <!--<img class="img-responsive footer-attention-item-pic" src="img/footer/timg.png" alt="布骨健康-喜马拉雅"-->
                                     <!--title="布骨健康-喜马拉雅">-->
                                <!--<div class="footer-attention-item-desc">布骨健康</div>-->
                                <!--<div class="footer-attention-item-desc">(喜马拉雅)</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="col-sm-4 col-sm-offset-1 footer-contactUs">-->
                <!--<div class="footer-contactUs-title">联系我们</div>-->
                <!--<div class="footer-contactUs-companyName">上海灵蛇信息科技有限公司</div>-->
                <!--<div class="footer-contactUs-contactInfo">-->
                    <!--<div class="footer-contactUs-contactInfo-icon icon-recruitment"></div>-->
                    <!--招聘：vickie@drbugu.com-->
                <!--</div>-->
                <!--<div class="footer-contactUs-contactInfo">-->
                    <!--<div class="footer-contactUs-contactInfo-icon icon-cooperation"></div>-->
                    <!--合作：bugu@drbugu.com-->
                <!--</div>-->
                <!--<div class="footer-contactUs-contactInfo">-->
                    <!--<div class="footer-contactUs-contactInfo-icon icon-address"></div>-->
                    <!--地址：上海市新龙路1333弄万科七宝国际69号-->
                <!--</div>-->
                <!--<div class="footer-contactUs-contactInfo">-->
                    <!--<div class="footer-contactUs-contactInfo-icon icon-phone"></div>-->
                    <!--电话：<a href="tel:021-33555120">021-33555120</a><a class="margin-left-10" href="tel:400-6882-120">400 6882 120</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row footer-copyright">
            copyright © 2016 bugu Doctor 沪ICP备 16027624号 沪公网安备 31011202002283号
        </div>
    </div>
</footer>
<%- helpers.jsIncludeTag('main') %>
<!--<script src="../assets/public/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="../assets/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="../assets/public/js/swiper-3.4.1.jquery.min.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="../assets/config/env.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="../assets/public/js/common.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>-->
</body>
</html>
