<head>
    <meta charset="UTF-8">
    <title>在线咨询医生，快速预约手术，骨健康问题就找布骨医生</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="三甲医院手术预约_专家_主任医生手术_床位预约_布谷鸟_布骨医生网">
    <meta name="Description" content="做骨科手术就找布骨医生，权威专家主刀，为您提供疾病咨询、病床预约，手术预约，术后康复等健康服务，只要是骨骼问题，在这里轻松解决！">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="icon" href="/assets/images/bone_favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/bone_favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/main.css">
</head>
