<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手术预约</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="三甲医院手术预约_专家_主任医生手术_床位预约_布谷鸟_布骨医生网">
    <meta name="Description" content="做骨科手术就找布骨医生，权威专家主刀，为您提供疾病咨询、病床预约，手术预约，术后康复等健康服务，只要是骨骼问题，在这里轻松解决！">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="icon" href="../img/bone_favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../img/bone_favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../assets/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common/swiper-3.4.1.min.css">
    <link rel="stylesheet" href="../assets/css/common/common.css">
    <link rel="stylesheet" href="./../css/operationOrder.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>

<body>
<!--header-->
<%- include('./head.html') %>

<!--main-->
<div class="common-main container operationOrder-content">
    <div class="operationOrder-title row text-center">查找您要预约的手术医生</div>
    <div class="operationOrder-title-small row text-center">手术预约热线：400-6882-120</div>
    <div class="operationOrder-search center-block row">
        <label class="operationOrder-search-input-wrap col-sm-6 col-md-8 col-lg-8">
            <input id="operationOrderSearch" class="operationOrder-search-input" type="text" placeholder="搜索医院、医生、科室">
        </label>
        <div class="operationOrder-search-button-wrap col-sm-3 col-md-2 col-lg-2">
            <div class="operationOrder-search-button">搜索</div>
        </div>
        <div class="operationOrder-search-button-wrap col-sm-3 col-md-2 col-lg-2">
            <div class="operationOrder-book-button">快速预约</div>
        </div>
    </div>
    <div class="operationOrder-recommend-doctor-wrap row">
        <div class="operationOrder-recommend-doctor-title row text-center">
            全国三甲医院名医主刀
        </div>
        <div class="operationOrder-recommend-doctor swiper-container container">

            <div class="swiper-wrapper" id="operationOrderSwiperWrapper">

            </div>
            <div class="swiper-pagination operationOrder-swiper-pagination"></div>

        </div>
    </div>
    <div class="operationOrder-intro row">
        <div class="operationOrder-intro-title row text-center">业务介绍</div>
        <div class="operationOrder-intro-text row">
            <p>做骨科手术，就找布骨医生</p>
            <p>布骨医生帮助您"做手术找专家，就近选择医院，快速安排手术"</p>
            <p>布骨医生汇聚全国知名三甲医院权威专家，您可以通过官网或微信服务号"布骨健康"在线预约您想选择的医院、医生，或者选择快速预约由布骨医生帮您匹配合适的专家，也可以通过400 6882 120，致电布骨医生客服，布骨医生会在第一时间解决您的住院手术难题。</p>
        </div>
    </div>
    <div class="operationOrder-intro row">
        <div class="operationOrder-intro-title row text-center">预约手术流程</div>
        <div class="operationOrder-intro-text row">
            <p>患者在线或电话预约手术——了解患者病情——专家面诊——预约病床——本地或异地手术</p>
        </div>
    </div>
    <div id="operationOrderForm"></div>
</div>
<!--footer-->
<%- include('./footer.html') %>

<script src="../assets/public/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/public/js/swiper-3.4.1.jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/config/env.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/public/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="./../js/operationOrder.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
