<html lang="en">
<%- include("./link.html") %>
<body>
<!--header-->
<%- include("./head.html") %>

<!--main-->
<div class="common-main container searchDoctor-content">
    <div class="searchDoctor-search-wrap row">
        <label class="searchDoctor-search-input-wrap col-sm-9 col-md-6 col-lg-7">
            <input id="searchDoctorInput" class="searchDoctor-search-input" type="text" onkeydown="onEnterKeyDown()" placeholder="搜索医院、医生、科室">
        </label>
        <div class="col-sm-3 col-md-3 col-lg-2">
            <div class="searchDoctor-search-button">搜索</div>
        </div>
    </div>
    <div class="searchDoctor-search-result-tip row">
        布骨医生为您找到相关结果<span id="search-total-value"><%= total %></span>个
    </div>
    <div class="searchDoctor-doctorList row">
        <div class="searchDoctor-doctor-row row">

            <!--医生列表页-->
            <% doctors.forEach(function(doctor){%>
            <div class="searchDoctor-doctor-item col-sm-6">
                <div class="row">
                    <div class="searchDoctor-doctor-head-wrap col-xs-3 center-block">
                        <img class="searchDoctor-doctor-head img-responsive" src="<%= doctor.iconUrl %>">
                    </div>
                    <div class="searchDoctor-doctor-info col-xs-9">
                        <div>
                            <span class="searchDoctor-doctor-name"><%= doctor.realName%></span>
                            <span class="searchDoctor-doctor-title"><%= doctor.title%></span>
                        </div>
                        <div class="searchDoctor-doctor-hospital-wrap">
                            <span class="searchDoctor-doctor-department"><%= doctor.departmentName%></span>
                            <span class="searchDoctor-doctor-hospitalName"><%= doctor.hospitalName%></span>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

    </div>
    <div class="row" id="searchDoctorPagination">
        <div class="searchDoctor-pagination">
            <div class="searchDoctor-pagination-button searchDoctor-pagination-button-prev">上一页</div>
            <div class="searchDoctor-pagination-pageNumberList">
                <span class="pageNumber-active">12</span>
            </div>
            <div class="searchDoctor-pagination-button searchDoctor-pagination-button-next">下一页</div>
        </div>
    </div>
</div>

<!--footer-->
<%- include("./footer.html") %>
</body>
</html>
