<html lang="en">
<%- include('./link.html') %>
<body>
<%- include("./head.html") %>
<div class="content">
<div class="sorry">
    正在建设中，敬请期待！！！
</div>
</div>
<style>
    .tip-text {
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #A11715;
        margin-bottom: 20px;
    }
    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sorry{
        text-align: center;
        font-size: 20px;
        padding: 60px 0;
    }
</style>
<!--footer-->
<%- include("./footer.html") %>
</body>

</html>
