<div class="modal  fade" id="queModal" tabindex="-1" role="dialog"
     aria-labelledby="operationModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content text-center" style="padding: 60px 0">
            <div>
                <div style="font-size: 20px">温馨提示</div>
                <div class="padd-tb-10 font-size-large">因医生回复消息可能迟缓</div>
                <div class="padd-tb-10 font-size-large">请用手机微信扫描下方二维码</div>
                <div class="padd-tb-10 font-size-large">手机端方便您随时随地接受信息</div>
            </div>
            <img src="/assets/images/service.jpg" alt="" style="width: 24%; min-width: 160px;">
        </div>
    </div>
</div>
