.operationOrder-content {
    padding-bottom: 100px;
}

.operationOrder-title {
    font: 28px/40px "微软雅黑";
    color: #3e3e3e;
    margin-top: 67px;
}

.operationOrder-title-small {
    font: 14px/20px "微软雅黑";
    color: #a6a6a6;
    margin-top: 10px;
}

.operationOrder-search {
    width: 70%;
    margin-top: 48px;
}

.operationOrder-search-input-wrap {
    display: block;
    height: 40px;
    margin: 0 auto;
    padding-left: 50px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background: url(../images/consultDoctor/icon-search.png) no-repeat 20px center;
    background-size: 20px 20px;
}

.operationOrder-search-input {
    display: block;
    font: 16px/38px "微软雅黑";
    color: #a6a6a6;
    width: 100%;
    height: 38px;
    border: 0;
    margin: 0;
}

::-moz-placeholder {
    color: #a6a6a6;
}

::-webkit-input-placeholder {
    color: #a6a6a6;
}

:-ms-input-placeholder {
    color: #a6a6a6;
}

.operationOrder-search-button {
    height: 40px;
    font: 18px/40px "微软雅黑";
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    background: #db4754;
    cursor: pointer;
}

.operationOrder-book-button {
    height: 40px;
    font: 18px/40px "微软雅黑";
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    background: #db4754;
    cursor: pointer;
}

/*recommend-doctor*/
.operationOrder-recommend-doctor-wrap {
    margin-top: 100px;
}

.operationOrder-recommend-doctor-title {
    font: 28px/40px "微软雅黑";
    color: #3e3e3e;
}

.operationOrder-recommend-doctor {
    padding-bottom: 34px;
    margin-top: 77px;
    box-shadow: 0 0 5px 1px rgba(102, 102, 102, 0.7);
}

.operationOrder-recommend-doctor-item {
    min-height: 148px;
    padding: 34px 50px;
}

.operationOrder-recommend-doctor-head-wrap {
    padding: 0;
}

.operationOrder-recommend-doctor-head {
    max-width: 78px;
}

.operationOrder-recommend-doctor-appointment-button {
    max-width: 78px;
    height: 25px;
    font: 14px/25px "微软雅黑";
    color: #db4754;
    text-align: center;
    border: 1px solid #db4754;
    border-radius: 4px;
    margin-top: 11px;
    cursor: pointer;
}

.operationOrder-recommend-doctor-info {
    padding-left: 45px;
}

.operationOrder-recommend-doctor-name {
    font: 24px/33px "微软雅黑";
    color: #3e3e3e;
}

.operationOrder-recommend-doctor-item:hover {
    box-shadow: 0 0 4px 0 rgba(190, 190, 190, 0.50);
}

.operationOrder-recommend-doctor-item:hover .operationOrder-recommend-doctor-name, .operationOrder-recommend-doctor-item:hover .operationOrder-recommend-doctor-info-title {
    color: #db4754;
}

.operationOrder-recommend-doctor-info-title {
    font: 16px/40px "微软雅黑";
    margin-left: 12px;
}

.operationOrder-recommend-doctor-hospital-wrap {
    font: 16px/22px "微软雅黑";
    color: #3e3e3e;
    margin-top: 4px;
}

.operationOrder-recommend-doctor-hospital {
    margin-left: 20px;
}

.operationOrder-recommend-doctor-expert-wrap {
    font: 14px/20px "微软雅黑";
    color: #7f7f7f;
    margin-top: 15px;
}

.operationOrder-recommend-doctor .swiper-slide, .operationOrder-recommend-doctor .swiper-wrapper {
    height: auto;
}

/*media*/
@media (max-width: 768px) {
    .operationOrder-recommend-doctor .swiper-slide {
        padding: 0 20px;
    }

    .operationOrder-search-button {
        margin-top: 20px;
    }

    .operationOrder-title, .operationOrder-recommend-doctor-title {
        font-size: 22px;
    }

    .operationOrder-recommend-doctor {
        margin-top: 37px;
    }

    .operationOrder-recommend-doctor-item {
        padding-left: 25px;
        padding-right: 25px;
    }

    .operationOrder-recommend-doctor-wrap{
        margin-top:60px;
    }

    .operationOrder-book-button{
        margin-top:20px;
    }
}

.operationOrder-form-title {
    font-size: 28px;
    color: #db4754;
    text-align: center;
    line-height: 28px;

}

.operationOrder-intro{
    margin-top:80px;
    padding:0 60px;
}
.operationOrder-intro-title{
    font-size:28px;
    line-height:40px;
    color:#3e3e3e;
}
.operationOrder-intro-text{
    font-size:17px;
    line-height:24px;
    color:#686868;
    margin-top:40px;
}
.operationOrder-intro-text p{
    margin: 10px 0;
}

